/* 重置样式  reset  css */
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* 头部样式 */
.my-header{
    background-color: #006699;
}
.my-header h1,.my-header a{
    color: #fff;
}

/* 底部样式 */
.my-footer{
    background-color: #006699;
}
.my-footer .mui-tab-item{
    color: #fff;
}
.my-footer .mui-tab-item.mui-active{
    color: darkorange;
}
/* 内容区域 */
.mui-content{
    margin-bottom: 50px;
    background-color: #fff;
}